{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Build the Bridge {% endblock %}</h1>

        <h2>Am I putting thought into action?</h2>
        <p>Pretty self-explanatory but amazing how easy it is without a simple reminder to think about the things you want and then do nothing. (Action changes this. Even if you don't have all the answers, your learning increases as a by-product of that action)</p>

        <h2>Am I setting new and interesting goals?</h2>
        <p>There is no stasis. We are either growing or dying. Without new and interesting goals, we easily become bored and start going backwards.</p>

        <h2>Am I visualizing my goals?</h2>
        <p>Making your goals more vivid and real allows your subconscious to work on your goals and to recognize the needed resources needed to achieve your dreams.</p>

        <h2>Am I stretching my comfort zone?</h2>
        <p>We naturally narrow what we are comfortable with over time - telling ourselves stories that we are not good at that or could never do that. Stretching your comfort zone is when you do things that put you into an uncomfortable state - where most of the learning and fun starts.</p>

        <h2>Am I happy with what I have?</h2>
        <p>Gratitude!! One of the most important things in living a full life. I remember a specific trip while travelling through Indonesia and Nepal in the late 1990's where it felt like I met some of the happiest people on the planet - who also lived with next to nothing. Want success? - Truly celebrate success in others and give gratitude for all the things you already have.</p>

        <h2>Am I filling my mind with positive self-talk?</h2>
        <p>99% of our time is spent inside our own heads, telling stories about ourselves and others. Want to exponentially increase how you show up in life? - start by making sure the stories inside your own head are good ones.</p>

        <h2>Am I being a positive force for others?</h2>
        <p>It is our impact on other people that truly counts our lives. Asking a question every day that forces you to think about your impact on others is a sure way to increase your positive impact.</p>

        <h2>Are my actions the same as my values?</h2>
        <p>We have all met people who say one thing - do another, which is the ultimate in hypocrisy. Asking this question every day ensures you are not one of them. It allows you to make the "harder right" decisions versus the "easier wrong"</p>

        <h2>Am I staying in balance?</h2>
        <p>While there may never be perfect balance - the question forces a deeper question of why you choose to do the things you do. That deeper question allows you to understand your choices. For example: I have too often seen executives convince themselves that they are "doing it for their family" when the thing their family cares about most is their time - Only to realize when it is too late. Want to know what you value - look at your calendar. It does not lie.</p>

        <h2>Am I focused and persistent?</h2>
        <p>Learning anything takes time and commitment. Even these 10 questions - which have led to much more learnings than I could ever list in an article - took a dedication to actually doing them over years to achieve the cumulative benefit from them.</p>

{% endblock %}